        body { font-family: Arial; padding: 10px; font-size: 12px;}
        form { margin-bottom: 20px; padding: 10px; background: #f7f7f7; border-radius: 6px; }
        table { width: 100%; border-collapse: collapse; margin-top: 5px; font-size:12px }
        th, td { border: 1px solid #ccc; padding: 8px; }
        th { background: #eee; }
        .paginacion { margin-top: 20px; }
        .paginacion a {
            padding: 6px 12px;
            margin: 0 4px;
            background: #ddd;
            text-decoration: none;
            border-radius: 3px;
        }
        .paginacion span {
            padding: 6px 12px;
            margin: 0 4px;
            background: #bbb;
            border-radius: 3px;
        }